//Fonts
$font-primary: 'Nunito', sans-serif;
$font-bold: 'Montserrat', sans-serif;

//Breakpoints
$break: 769px;

//Colors
$color-primary: #6ae8cc;
$color-primary-light: lighten($color-primary, 7%);
$color-link: #2dc3ff;
$color-link-dark: darken($color-link, 20%);
$color-text: #686868;
$color-success: #56ce64;
$color-success-light: lighten($color-success, 10%);
$color-error: #e25158;
$color-warning: #ff9719;
$color-warning-light: lighten($color-warning, 10%);
$color-info: #b07bed;
$color-info-light: lighten($color-info, 10%);
