//classes
.btn--default {
  background-color: red;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}
.btn--success {
  background-color: red;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}
.btn--error {
  background-color: red;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}
.btn--warning {
  background-color: red;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}
.btn--info {
  background-color: red;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}
//.theme__colors
