.btn--default {
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  width: 85%;
  margin: auto;
  background-color: $color-link;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn--success {
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  width: 85%;
  margin: auto;
  background-color: green;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn--error {
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  width: 85%;
  margin: auto;
  background-color: red;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn--warning {
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  width: 85%;
  margin: auto;
  background-color: orange;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn--info {
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  width: 85%;
  margin: auto;
  background-color: purple;
  margin-top: 20px;
  margin-bottom: 20px;
}
.theme__colors {
  display: block;
}
