//classes
.img--logo {
    display: block;
    margin: auto;
    width: 35%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.img--frame {
  display: block;
  margin: auto;
  width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 11px;
  border: 1px solid #b7b7b7;
}
.img--avatar {
  display: block;
  margin: auto;
  width: 40%;
  margin-top: 40px;
  margin-bottom: 40px;
}
@include media {
  .img--logo {
      margin: 25px 20px 25px 20px;
      width: auto;
  }
}
