.nav__item {
  list-style-type: none;
  line-height: 3;
  text-align: center;
  &:hover {
    background-color: $color-primary;
    border-radius: 10px;
  }
  & a {
    text-decoration: none;
  }
  & a:visited {
    color: black;
  }
  & a:hover {
    color: white;
  }
}
