.nav__item {
  list-style-type: none;
  line-height: 3;
  text-align: center;
  margin-right: 33px;
  &:hover {
    background-color: $color-primary;
    border-radius: 10px;
  }
  & a {
    text-decoration: none;
  }
  & a:visited {
    color: $color-text;
  }
  &:hover a {
    color: white;
  }
}
@include media {
  .nav__item {
    display: inline-block;
    margin: 10px 0 0 33px;
  }
}
