//classes
//.container
.link {
  color: $color-link;
  text-decoration: none;
}
.blockquote {
  border-left: 5px solid $color-primary;
  border-radius: 10px;
  padding: 5px 0 5px 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
}
.headline--primary {
  color: $color-primary;
  font-family: $font-bold;
  margin-left: 30px;
  font-size: 35px;
}
.headline--secondary {
  margin-left: 20px;
  margin-top: 65px;
  font-weight: 400;
}
